---
import Logo from "./Logo.astro";

interface Props {
  currentPage?: "index" | "examples";
}
const { currentPage = "index" } = Astro.props;
const prefix = currentPage === "index" ? "" : "/";
---
<nav>
  <div class="container">
    <a href="/" class="nav-logo">
      <Logo />
    </a>
    <div class="nav-links">
      <a href={`${prefix}#how-it-works`}>How It Works</a>
      <a href={`${prefix}#rules`}>Rules</a>
      <a href="/examples/">Examples</a>
      <a href={`${prefix}#integrations`}>Integrations</a>
      <a href="https://github.com" class="flex items-center gap-1.5"><img src="/icons/github.svg" width="14" height="14" alt="GitHub" class="invert opacity-45" />GitHub</a>
    </div>
  </div>
</nav>
